@model IEnumerable<ChessPlayersRatingApp.Models.Player>

@{
    ViewData["Title"] = "Chess Players Rating";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create" class="btn btn-success">Add new Player</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.RankSort">
                        @Html.DisplayNameFor(model => model.Rank)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSort">
                        @Html.DisplayNameFor(model => model.Title)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.CountrySort">
                        @Html.DisplayNameFor(model => model.Country)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.RatingSort">
                        @Html.DisplayNameFor(model => model.Rating)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.GameSort">
                        @Html.DisplayNameFor(model => model.Games)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.BirthYearSort">
                        @Html.DisplayNameFor(model => model.BirthYear)
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Games)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthYear)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a> |
                        <a asp-controller="Information" asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-ban"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
